*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    margin: 0 auto;
}
.clearfix::after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.align-center{
    text-align: center;
}
a:link{/*去除链接下划线*/
    text-decoration: none;
    color: black;
}
li{
    display: inline-block;
}

/*以下是header样式*/
#header{
    height: 824px;
    background: url("images/oshin-slide-1.jpg") no-repeat center center;
}
.logo{
    margin-top: 25px;
    margin-bottom: 25px;
    position: absolute;
    left:30px;
}
.menu{
    height: 100px;
    display: flex;
}
.menu a:hover {/*悬停鼠标*/
    color:orange;
}
.navigation{
    font-family: Montserrat, "Open Sans", Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 100px;
    color: #333;
    position: absolute;
    left: 50%;
    margin-left: -356px;
}
.navigation li{
    display: inline-block;
    margin: 0 20px;
}
.header-controls{
    display: flex;
    position: absolute;
    right: 30px;
    line-height: 100px;
}
.text-active{
    width: 1000px;
    height: 334px;
    position: absolute;
    left: 50%;
    margin-left: -500px;
}
.text1{
    font-size: 20px;
    letter-spacing: 6px;
    color: #222222;
    position: absolute;
    top: 41px;
    left: 332px;
}
.text2{
    border: 7px solid;
    letter-spacing: 6px;
    font-size: 50px;
    padding: 20px 50px;
    position: absolute;
    top: 93.5px;
    left: 292px;
}
.text3{
    font-family: Raleway, "Open Sans", Arial, sans-serif;
    font-style: italic;
    position: absolute;
    top: 251px;
    left: 329px;
    font-size: 30px;
}

/*以下是content样式*/
#section-pad{
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 90px;
}
.section-pad-text{
    width: 1160px;
    height: 308px;
    margin: 0 175.9px;
}
.section-pad-margin{
    margin-bottom: 30px;
}
.content-text h4{
    font-family: Montserrat, "Open Sans", Arial, sans-serif;
    line-height: 42px;
    font-size: 26px;
}
.content-text-p1{
    font-family: Montserrat, "Open Sans", Arial, sans-serif;
    display: block;
    line-height: 35px;
    font-size: 16px;
    color: #5f6263;
}
.content-icon1{
    height: 1px;
    width: 20px;
    background-color: #e8e8e8;
    display: inline-block;
    vertical-align: middle;
}
.content-icon2{
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 20px;
    /*旋转div制作简单的图标*/
    background-color: #e0a240;
    transform: rotate(45deg);
}
.section-pad-text-p2{
    padding-top: 13px;
    padding-left: 174px;
    padding-right: 174px;
    font-family: Raleway, "Open Sans", Arial, sans-serif;
    line-height: 26px;
    color: #5f6263;
}
.section-pad-img{
    margin: 0 179px;
}

#active-image{
    height: 284px;
    margin-bottom: 114px;
}
.active-image-div{
    text-align: center;
    width: 380px;
    background-color: #EDF0F2;
    position: relative;
}
#active-image div:nth-child(odd){
    background-color: #F2F5F8;
}
.active-image-div span{
    position: absolute;
    bottom: 141px;
    right: 134px;
}

#section-phone {
    margin: 90px 179px;
    height: 705px;
}
.section-phone-div{
    padding-left: 25px;
    padding-right: 25px;
    width: 353px;
    /*使用弹性盒子，先将方向调整为纵向，在使用justify-content让他们占满空间*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-phone-div2{
    padding-left: 60px;
    margin-bottom: 60px;
}
.section-phone-div2 h6{
    font-family: Raleway, "Open Sans", Arial, sans-serif;
    padding-bottom: 10px;
    line-height: 26px;
    font-size: 13px;
    font-weight: bold;
}
.section-phone-div2 p{
    display: block;
    font-family: Raleway, "Open Sans", Arial, sans-serif;
    line-height: 26px;
}

#our-work{
    padding-top: 90px;
}
.our-work-items{
    font-family: Montserrat, "Open Sans", Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333333;
    height: 42px;
    padding-bottom: 40px;
    padding-top: 40px;
}
.our-work-items li{
    line-height: 42px;
    padding: 5px 18px;
}
.our-work-img{
    display: flex;
    /*使用自动换行*/
    flex-wrap: wrap;
}
.our-work-img div{
    margin-left: 40px;
    margin-bottom: 40px;
}
.view-all-work-h{
    width: 180px;
    height: 47px;
    /*使用绝对定位将div元素居中*/
    position: absolute;
    left: 50%;
    margin-left: -90px;
}
.view-all-work-h h4{
    padding: 15px 25px;
    border: 2px solid black;
    font-family: Montserrat, "Open Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #333333;
}
.view-all-work-h h4:hover{
    background-color: #E0A240;
    font-family: Montserrat, "Open Sans", Arial, sans-serif;
    font-size: 13px;
    color: white;
    border-style: none;
}
.view-all-work-icon-div {
    width: 700px;
    height: 224px;
    position: absolute;
    left: 50%;
    margin-left: -350px;
}
.view-all-work-icon{
    background-color: #F2F3F8;
    height: 244px;
    margin-top: 113px;
    padding: 90px 0;
}
.view-all-work-icon-div p{
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
}
.view-all-work-icon-div a{
    color: #e0a240;
}
.view-all-work-icon-div span{
    text-transform: uppercase;
    line-height: 32px;
    font-size: 15px;
}
.our-clients-img{
    display: flex;
    justify-content: center;
}
.our-clients-img div{
    margin-left: 20px;
}
.get-in-touch{
    height: 338px;
    margin-top: 90px;
    background-color: black;
    color: white;
}
.get-in-touch-div{
    /*height: 338px;*/
    padding: 90px 0;
}
.get-in-touch-div h4{
    line-height: 42px;
    padding-bottom: 15px;
}
.get-in-touch-div p{
    line-height: 26px;
    padding-bottom: 30px;
}
.get-in-touch-div a{
    display: inline-block;
    text-align: center;
    width: 74px;
    height: 13px;
    padding: 15px 20px;
    font-size: 13px;
    line-height: 14px;
    background-color: #e0a240;
}
.get-in-touch-div a:hover{
    background-color: black;
    color: white;
    font-size: 13px;
    line-height: 14px;
}

/*footer样式*/
#footer{
    background-color: #F2F3F8;
}
.footer-div{
    margin-left: 58px;
    width: 246.5px;
}
.footer-div1 p{
    margin-bottom: 30px;
}
.footer-div1 i{
    padding-right: 10px;
    margin-bottom: 20px;
}
.footer-div h6{
    display: block;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 12px;
}
.footer-div2 a{
    padding-left: 55px;
}
.links-item{
    margin-bottom: 10px;
}
.links-item span{
    padding-left: 25px;
}
.footer-div4-img{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.copyright span{
    display: block;
    padding: 25px 0;
}